.icon {
  background: url(../images/sprite.png) no-repeat left top;
  margin: 30px auto;
}
.icon.lg-head-before {
  width: 160px;
  height: 160px;
}
.icon.sm-head-before {
  width: 60px;
  height: 60px;
}
.icon.icon-2 {
  background-position: 0 -206px;
}
.icon.icon-3 {
  background-position: -86px -206px;
}
.icon.icon-4 {
  background-position: -171px -206px;
}
.icon.icon-5 {
  background-position: -191px 0;
}
.icon.icon-6 {
  background-position: -374px -2px;
}
.icon.icon-7 {
  background-position: -714px -203px;
}
.icon.icon-8 {
  background-position: -263px -206px;
}
.icon.icon-9 {
  background-position: -354px -206px;
}
.icon.icon-10 {
  background-position: -444px -206px;
}
.icon.icon-11 {
  background-position: -540px -206px;
}
.icon.icon-12 {
  background-position: -631px -206px;
}
.icon.icon-13 {
  background-position: 0 -397px;
}
.icon.icon-14 {
  background-position: -561px -3px;
}
