.bgPos(@X: 0, @Y: 0) {
  background-position: @X @Y;
}
.icon {
  background: url(../images/sprite.png) no-repeat left top;
  margin: 30px auto;

  &.lg-head-before {
    width: 160px;
    height: 160px;
  }
  &.sm-head-before {
    width: 60px;
    height: 60px;
  }
  &.icon-2 {
    .bgPos(0, -206px);
  }
  &.icon-3 {
    .bgPos(-86px, -206px);
  }
  &.icon-4 {
    .bgPos(-171px, -206px);
  }
  &.icon-5 {
    .bgPos(-191px, 0);
  }
  &.icon-6 {
    .bgPos(-374px, -2px);
  }
  &.icon-7 {
    .bgPos(-714px, -203px);
  }
  &.icon-8 {
    .bgPos(-263px, -206px);
  }
  &.icon-9 {
    .bgPos(-354px, -206px);
  }
  &.icon-10 {
    .bgPos(-444px, -206px);
  }
  &.icon-11 {
    .bgPos(-540px, -206px);
  }
  &.icon-12 {
    .bgPos(-631px, -206px);
  }
  &.icon-13 {
    .bgPos(0, -397px);
  }
  &.icon-14 {
    .bgPos(-561px, -3px);
  }
  &.icon-15 {
    .bgPos(-185px, -395px);
  }

}